@page
@model Cofetarie.Pages.Angajati.CreateModel
@{
}


 <br>
 <h2>Angajat Nou</h2>

 @if (Model.errorMessage.Length > 0){
   <div class="alert alert-warning alert-dismissible fade show " role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
 }


  <form method="POST">

      <div class="row mb-3">
          <label class="col-sm-3 col-form-label"> Nume </label>
          <div class="col-sm-6">
              <input type="text" class="form-control" name="nume" value="@Model.angajatiInfo.Nume" />
          </div>
      </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Prenume </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="prenume" value="@Model.angajatiInfo.Prenume" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> CNP </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="cnp" value="@Model.angajatiInfo.CNP" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Sex </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="sex" value="@Model.angajatiInfo.Sex" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Strada</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="strada" value="@Model.angajatiInfo.Strada" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Numar </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="numar" value="@Model.angajatiInfo.Numar" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Oras </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="oras" value="@Model.angajatiInfo.Oras" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Judet </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="judet" value="@Model.angajatiInfo.Judet" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> DataNasterii </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="datanasterii" value="@Model.angajatiInfo.DataNasterii" />
           
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> NumarTelefon </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="numartelefon" value="@Model.angajatiInfo.NumarTelefon" />
           
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Post </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="post" value="@Model.angajatiInfo.Post" />
           
        </div>
    </div>
    
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> DataAngajarii </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="dataangajarii" value="@Model.angajatiInfo.DataAngajarii" />
           
        </div>
    </div>
     <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Salariu </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="salariu" value="@Model.angajatiInfo.Salariu" />
           
        </div>
    </div>
       <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> AdresaEmail </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="adresaemail" value="@Model.angajatiInfo.AdresaEmail" />
           
        </div>
    </div>

    @if (Model.succesMessage.Length > 0)
    {
        <div class="alert alert-warning alert-dismissible fade show " role="alert">
            <strong>@Model.succesMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }


    <div class="row mb-3">
       <div class="offset-sm-3 col-sm-3 d-grid">
           <button type="submit" class="btn btn-primary">Submit</button>
       </div>
        <div class="offset-sm-3  d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>

  </form>
